# .github/workflows/docker-build-and-push.yml

name: Build and Push Docker Image

on:
  workflow_dispatch:
    inputs:
      vs_version:
        description: 'Vintage Story version to build'
        required: true
        default: '1.21.6'

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/asterle/vintagestory-docker:${{ github.event.inputs.vs_version }}
            ghcr.io/asterle/vintagestory-docker:latest
          build-args: |
            VS_VERSION=${{ github.event.inputs.vs_version }}